<!DOCTYPE html>
<!--This is so users can switch between the incomplete page and complete page at any time.-->
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    {{{body}}}


    <div class="navigation">
      <a href="/">To do tasks</a> <a href="/completed">Completed Tasks</a>
    </div>

  </body>
</html>


